[submodule "third_party/vissl"]
	path = third_party/vissl
	url = git@github.com:NKI-AI/vissl.git
	branch = hissl
[submodule "third_party/dlup"]
	path = third_party/dlup
	url = git@github.com:NKI-AI/dlup.git
	branch = hissl
